/* common styles */
body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.banner{
    width: 1320px;
    height: 600px;
    background: url('/resources/Banner\ Image.png');
    text-align: center;
    margin: auto;
}
.banner-text{
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 95px;
    padding: 70px;
}
.h1{
    margin: 10px;
    border-color: black;
    font-size: 60px;   
    padding: 50px;
}
.h2{
    margin: 10px;
    border-color: black 50%;
    font-size: 80px;
    padding: 0 100px;
}

/* discount */

.discount{
    text-align: center;
    margin: auto;
    width: 1320px;
    height: 600px;
}

.dis-text1{
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
    word-wrap: break-word;
}
.dis-text2{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
    
}

.dis-text3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    word-wrap: break-word;
    
}